{% load static %}
<nav class="navbar navbar-light navbar-expand-lg my-navbar">
   <div class="container">
      <a href="{% url 'home' %}" class="navbar-brand" style="font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
         <img src="{% static 'img/logo.png' %}" alt="logo" >
         Sokaktakiler
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
         <span class="navbar-toggler-icon"> </span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
         <ul class="navbar-nav me-auto">
            <li class="nav-item">
               <a href=" {% url 'home' %} " class="nav-link"><i class="bi bi-house-heart"></i> Anasayfa</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
               <a href="{% url 'yuvabildir' %}" class="nav-link"><i class="bi bi-geo-alt-fill"></i> Yuva Bildir</a>
            </li>
            <li class="nav-item">
               <a href="{% url 'bul' %}" class="nav-link"><i class="bi bi-compass"></i> Yakınımda Bul</a>
            </li>
            {% endif %}
            <li class="nav-item">
               <a href="{% url 'harita' %}" class="nav-link"><i class="bi bi-map"></i> Harita</a>
            </li>
            <li class="nav-item">
               <a href="{% url 'scoreboard' %}" class="nav-link"><i class="bi bi-clipboard-data"></i> Skor Tablosu</a>
            </li>
         </ul>
         <ul class="navbar-nav ms-auto">
            <li class="nav-item">
               <a href="{% url 'iletisim' %}" class="nav-link"><i class="bi bi-headset"></i>İletişim</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
               <a href="{% url 'login' %}" class="nav-link">Giriş Yap</a>
            </li>
            <li class="nav-item">
               <a href="{% url 'register' %}" class="nav-link">Üye ol</a>
            </li>
            {% else %}
            <li class="nav-item">
               <a href="{% url 'profil' user.id %}" class="nav-link"><i class="bi bi-person-circle"></i>Profil</a>
            </li>
            <li class="nav-item">
               <a href="{% url 'logout' %}" class="nav-link"><i class="bi bi-box-arrow-left"></i> <strong> Çıkış yap</strong></a>
            </li>
            {% endif %}
         </ul>
      </div>
   </div>
</nav>