{% extends "base.html" %}
{% load static %}

{% block title %} Bul {% endblock %}

{% block content %} 
<div class="container" id="container">
<div class="album py-5">
   <div class="alert alert-success col-md-6 text-center offset-md-3" style="font-size:15px">Konum servisiniz açıksa bu sayfadan yararlanabilirsiniz.</div>
   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="kulube"></div>
   
</div>
<div class="dots-8 show" id="loaders"></div>
<script>
   const loading = document.querySelector('.dots-8')
   function getLocation() {
     if (navigator.geolocation) {
       navigator.geolocation.getCurrentPosition(showPosition, showError);
      } else {
      alert("The Browser Does not Support Geolocation");
      }
   }
   async function getKulube(lat,lon) {
      const response = await fetch('http://127.0.0.1:8000/rest/kulubeler/'+lat+'/'+lon)
      const data = await response.json()
      loading.classList.remove('show')
      if (data.length==0){
         $('#container').append('<div class="alert alert-secondary text-center">Yakınınızda yuva bulunamadı.</div>')
      }
      for (let i = 0; i < data.length; i++) {
         $('#kulube').append('<div class="col-sm-4 "><div class="card mt-3"><img src="/static/img/'+data[i].img+'" alt="" style="max-width: 420px;max-height: 210px;" class="card-img-top img-fluid"><div class="card-body height-card"><h5 class="card-title">'+data[i].il.toTitle()+'&nbsp;|&nbsp;'+data[i].ilce.toTitle()+'&nbsp;|&nbsp;'+data[i].mahalle.toTitle()+'<p class="card-text">'+data[i].dogcat+' Yuvası</p></h5><p class="card-text ucnokta" style="overflow-y: scroll;">'+data[i].aciklama+'</p><div class="row my-date-text mb-5"><p class="card-text text-muted">En son '+data[i].sontarih+'`da beslendi.</p></div><a href="/yuva_details/'+data[i].id+'" class="btn btn-warning width-100 my-button">Detay</a></div></div></div>')
      }
      
   }
   function showPosition(position) {
      getKulube(position.coords.latitude,position.coords.longitude)

   }
   function showError(error) {
      if(error.PERMISSION_DENIED){
         alert('Konum bilgisi için izin vermediniz.')
         console.log("The User have denied the request for Geolocation.");
      }
   }
   getLocation();
   
   
</script>   
{% endblock %}


