{% extends "base.html" %}
{% load static %}
{% block title %} Anasayfa {% endblock %}
{% block content %} 
{% if messages %}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content bg-light">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Sokaktakiler</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
       </div>
       <div class="modal-body my-modal-body">
         {% for message in messages %}
         {{ message }}
         {% endfor %}
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
       </div>
     </div>
   </div>
 </div>
{% endif %}
{% if not user.is_authenticated %}
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content bg-light">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Sokaktakiler'e Hoşgeldin</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
       </div>
       <div class="modal-body my-modal-body">
         Merhaba aramıza hoşgeldin...
         <br>
         Hemen <a class="my-modal-link" href="{% url 'register' %}">buradan</a> üye olabilirsin.

       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
       </div>
     </div>
   </div>
 </div>
{% endif %}
<div class="container mt-4">
   <div class="row border-black">
      <h5 class="text-center table-title mt-4">SKOR TABLOLARI</h5>
      <div class="row ">
         <div class="col-sm-4">
            <table class="table table-sm">
               <thead>
                  <th>Kullanıcı Adı</th>
                  <th>Besleme</th>
               </thead>
               <tbody>
                  {% for data in besleme %}
                  <tr>
                     <td>{{data.username}}</td>
                     <td>{{data.beslemesayisi}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="col-sm-4">
            <table class="table table-sm">
               <thead>
                  <th>Kullanıcı Adı</th>
                  <th>Yuva Bildirme</th>
               </thead>
               <tbody>
                  {% for data in yuvabildirme %}
                  <tr>
                     <td>{{data.username}}</td>
                     <td>{{data.bildirmesayisi}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="col-sm-4">
            <table class="table table-sm">
               <thead>
                  <th>Kullanıcı Adı</th>
                  <th>Mama(gr)</th>
               </thead>
               <tbody>
                  {% for data in mamakg %}
                  <tr>
                     <td>{{data.username}}</td>
                     <td>{{data.mamakilo}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <br>
   <hr>
   <br>
   <div class="row" id='kulube'></div>
   <div class="loader"></div>
</div>
<script>
   function sleep(milliseconds) {
      const date = Date.now();
      let currentDate = null;
      do {
        currentDate = Date.now();
      } while (currentDate - date < milliseconds);
    }
   let page = 1
   const loading = document.querySelector('.loader')
   const mainwrapper = document.getElementById('kulube');
   async function getKulube() {
      const response = await fetch(`http://127.0.0.1:8000/rest/kulubeler/?page=${page}`)
      const kulubeler = await response.json()
      console.log(kulubeler)
      return kulubeler;
   }
   async function showKulube() {

      const data = await getKulube();
      
      for (let i = 0; i < data.length; i++) {
         $('#kulube').append('<div class="col-sm-4 "><div class="card mt-3"><img src="/static/img/'+data[i].img+'" alt="" style="max-width: 414px;max-height: 210px;" class="card-img-top img-fluid"><div class="card-body height-card"><h5 class="card-title">'+data[i].il.toTitle()+'&nbsp;|&nbsp;'+data[i].ilce.toTitle()+'&nbsp;|&nbsp;'+data[i].mahalle.toTitle()+'<p class="card-text">'+data[i].dogcat+' Yuvası</p></h5><p class="card-text ucnokta">'+data[i].aciklama+'</p><div class="row my-date-text mb-5"><p class="card-text text-muted">En son '+data[i].sontarih+'`da beslendi.</p></div><a href="/yuva_details/'+data[i].id+'" class="btn btn-warning width-100 my-button">Detay</a></div></div></div>')
      }
      sleep(1000)
   }
   function showLoading(){
      loading.classList.add('show');
      setTimeout (()=>{
         loading.classList.remove('show');
         setTimeout(()=>{
            page++;
            showKulube();
         },3000)
      },1000);
   }
   window.addEventListener('scroll',() => {
      const { scrollTop , scrollHeight , clientHeight} = document.documentElement;
      console.log(scrollHeight , scrollTop , clientHeight)
      if(scrollTop + clientHeight >= scrollHeight-10){
         showLoading();
      }
   })
   showKulube();
</script>
{% endblock %}