{% extends "base.html" %}
{% load static %}

{% block title %} Anasayfa {% endblock %}

{% block content %} 
{% if messages %}
<ul class="messages alert alert-danger none-center-list mt-2">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container mt-4">
   <div class="row border-black">
      <h5 class="text-center table-title mt-4">SKOR TABLOLARI</h5>
      <div class="row ">
         <div class="col-sm-4">
            <table class="table table-sm">
               <thead>
                  <th>Kullanıcı Adı</th>
                  <th>Besleme</th>
               </thead>
               <tbody>
                  {% for data in besleme %}
                  <tr>
                     <td>{{data.username}}</td>
                     <td>{{data.beslemesayisi}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="col-sm-4">
            <table class="table table-sm">
               <thead>
                  <th>Kullanıcı Adı</th>
                  <th>Yuva Bildirme</th>
               </thead>
               <tbody>
                  {% for data in yuvabildirme %}
                  <tr>
                     <td>{{data.username}}</td>
                     <td>{{data.bildirmesayisi}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         <div class="col-sm-4">
            <table class="table table-sm">
               <thead>
                  <th>Kullanıcı Adı</th>
                  <th>Mama(gr)</th>
               </thead>
               <tbody>
                  {% for data in mamakg %}
                  <tr>
                     <td>{{data.username}}</td>
                     <td>{{data.mamakilo}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <br>
   <hr>
   <br>
   <div class="row">
      {% for kulube in kulubeler %}
      <div class="col-sm-4">
         <div class="card mt-3">
            <img src="{% static 'img/'|add:kulube.img %}" alt="" style="max-width: 414px;max-height: 210px;" class="card-img-top img-fluid">
            <div class="card-body height-card">
               <h5 class="card-title">{{kulube.il|title}}&nbsp;|&nbsp;{{kulube.ilce|title}}&nbsp;|&nbsp;{{kulube.mahalle|title}}</h5>
               <p class="card-text ucnokta">{{kulube.aciklama}}</p>
               <p class="card-text">{{kulube.dogcat}}</p>
               <div class="row my-button mb-2">
                  <p class="card-text text-muted">En son {{kulube.sontarih}}'da beslendi.</p>
                  <a href="{%url 'yuva_details' kulube.id %}" class="btn btn-warning width-100">Detay</a>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>

{% endblock %}


