{% extends "base.html" %}
{% load static %}

{% block title %} {{person.username}} Profili {% endblock %}


{% block content %} 
<div class="container new border-white mymt-4 mymb-4">
   <br>
   <div class="row mb-3" >
      <div class="col-md-10 offset-md-1 mymb-4 mymt-1">
         <div class="row" style="background-color: transparent;">
            <div class="col-md-8 offset-md-2 mb-4">
               <p class="h2 text-center">Profil</p>
            </div>
         </div>
         {% if user.is_staff %}
         <div class="row">
            <a href="/admin" class="text-center">Admin Paneli</a>
         </div>
         {% endif %}
         <div class="row mb-3 bg-light border-white">
            <div class="col-md-6 offset-md-3">
               <table class="table table-striped">
                  <tbody>
                     <tr>
                        <td class="text-left" width="50%">Kullanıcı adı</td>
                        <td class="text-left" width="50%">{{person.username}}</td>
                     </tr>
                     <tr>
                        <td class="text-left" width="50%">İsim</td>
                        <td class="text-left" width="50%">{{user.first_name}}</td>
                     </tr>
                     <tr>
                        <td class="text-left" width="50%">Soyisim</td>
                        <td class="text-left" width="50%">{{user.last_name}}</td>
                     </tr>
                     <tr>
                        <td class="text-left" width="50%">E-mail</td>
                        <td class="text-left" width="50%">{{user.email}}</td>
                     </tr>
                     <tr>
                        <td class="text-left" width="50%">Besleme Sayısı</td>
                        <td class="text-left" width="50%">{{person.beslemesayisi}}</td>
                     </tr>
                     <tr>
                        <td class="text-left" width="50%">Bildirme Sayısı</td>
                        <td class="text-left" width="50%">{{person.bildirmesayisi}}</td>
                     </tr>
                     <tr>
                        <td class="text-left" width="50%">Mama miktarı</td>
                        <td class="text-left" width="50%">{{person.mamakilo}}(gr)</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}


