{% extends "base.html" %}
{% load static %}

{% block title %} Detay Ekranı {% endblock %}


{% block content %} 
<div class="container col-md-8 offset-md-2">
   <div class="row mt-4">
      <div>
         <div class="card">
            <div class="card-body">
               <p>Yuva {{yuva.il|title}},{{yuva.ilce|title}},{{yuva.mahalle|title}},{{yuva.sokak|title}} konumunda 
               {% if yuva.kapi %}
                  ,{{ yuva.kapi }} no'lu bina yakınlarındadır.
               {% else %}
                  dır.
               {% endif %}
               </p>
            </div>
         </div>
         <div class="alert alert-success text-center mt-4">
            Bu yuva 1 kg mamayı yaklaşık {{oran}} günde bitiriyor.
         </div>
      </div>
      <div class="row mt-2">
         <div>
            {% if user.is_authenticated %}
            <form name="form1" method="POST" onsubmit="validateForm()">
               {% csrf_token %}         
               <input class="form-control" style="width: 70%; float: left;" name="kackilo" type="text" placeholder="Kaç gram mama bıraktınız?" aria-label="default input example">
               <input hidden type="text" value="{{kulube.id}}" name="id">
               <input type="submit" id="demo" name="yuva" style="width: 30%;" value="Mama Bıraktım" class="btn btn-primary">
            </form>
            {% else %}
            <div class="alert alert-success text-center mt-4">
               Mama bırakmak için üye olunuz.
            </div>
            {% endif %}
         </div>
      </div>
   </div>
   <div class="row mt-4">
      <div>
         {{m|safe}}
      </div>
   </div>
   <div class="row mt-4">
      <div>
         <p hidden id="kulubeid">{{yuva.id}}</p>
         <input type="submit" id="delete" class= "btn btn-secondary center" value="Yuva yerinde değilse silebilirsiniz.">
      </div>
   </div>
</div>


<style>

.center {
  margin: 0;
  position: relative;
  bottom: 1%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 3%;
}
</style>




<script>
   function getCookie(name) {
   let cookieValue = null;
   if (document.cookie && document.cookie !== '') {
         const cookies = document.cookie.split(';');
         for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
         }
   }
   return cookieValue;
   }
   const csrftoken = getCookie('csrftoken');

   const id = document.getElementById('kulubeid').innerHTML
   async function deletekulube(){
      const response = await fetch('https://agile-basin-70896.herokuapp.com/rest/kulubeler/'+id+'/',{
         method:'DELETE',
         
         headers: {
         'Content-Type': 'application/json',
         'X-CSRFToken': csrftoken
         },
         body: null
      })
      if (response.json()['data']=='sign up'){
         var cevap = window.confirm('Yuva silebilmek için giriş yapmanız gerekmektedir.')
         if (cevap){
            location.replace('https://agile-basin-70896.herokuapp.com/registration/login/');
         }else{
            location.replace('https://agile-basin-70896.herokuapp.com/');
         }
      }else{
         location.replace('https://agile-basin-70896.herokuapp.com/');
      }

   }

   $(function() {
    $('#delete').click(function(e) {
        e.preventDefault();
        if (window.confirm("Yuvayı silmek istediğinize emin misiniz?")) {
            deletekulube();
        }
        
    });
});
   
   function validateForm() {
      var x = document.forms["form1"]["kackilo"].value;
      if (x == "") {
      alert("Kaç gram mama bıraktığınızı yazmalısınız.");
      return false;
      }
      if (x < 50) {
      alert("Minimum değer 50 gramdır.");
      return false;
      }
      if (x > 5000) {
         alert("Gerçekten 5 kg üzeri mama bıraktıysanız parçalayarak yazınız.");
         return false;
      }
   }
   
</script>


{% endblock %}

