{% extends 'base.html' %}
{% block title %} Şifre Yenile {% endblock %}
{% block content %}
  <div class="col-md-4 offset-md-4" >
  {% if validlink %}
    <h3 style="text-align: center;" class="mt-4 mb-4">Şifre Sıfırlama</h3>
    <div style="border: 1px solid rgba(0, 0, 0, 0.658);padding: 1rem;">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      
      <button type="submit" class="btn btn-warning" >Şifreyi Tazele</button>
    </form>
    </div>
  {% else %}
    <p>
      Parola sıfırlama bağlantısı, muhtemelen zaten kullanılmış olduğu için geçersizdi. Lütfen yeni bir şifre sıfırlama talebinde bulunun.
    </p>
  {% endif %}
  </div>
{% endblock %}