{% extends "base.html" %}
{% load static %}

{% block title %} Şifre Tazele {% endblock %}

{% block content %} 
<div class="container mt-3" style="font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
   
   <div class="col-md-8 offset-md-2">
      <h1 class="text-login">Sokaktakiler</h1>
      <h2 class="text-login text-end">Şifre Tazele</h1>
      <hr>
      <form  id="id_password_reset_form" method="POST">{% csrf_token %}
         <div class="text-center">{{form.as_p }}</div>
         <input type="submit" value="Gönder" class="btn btn-warning col-sm-12 mb-4 mt-3"><br> 
         
      </form>
   </div>
</div>
{% endblock %}