{% extends "base.html" %}

{% load static %}

{% block title %} Üye ol {% endblock %}
{% block css_files %}
   <link rel="stylesheet" href="{% static 'account/css/style.css' %}">

{% endblock %}

{% block content %}

<div class="container mt-3 text-login-container" >
   <div class="col-md-8 offset-md-2">
      <h1 class="text-login">Sokaktakiler</h1>
      <h2 class="text-login text-end">Üye Ol</h1>
      <hr>
      <form  method="POST" class="pad-5 border-black">
         {% csrf_token %}
         {% if error %}
            <div class="alert alert-danger">
               {{error}}
            </div>
         {% endif %}
         <div class="row">
            <div class="col">
               <label for="username" class="form-label">Kullanıcı Adı</label>
               <input type="text" class="form-control" name="username" value="{{username}}" >
            </div>
            <div class="col"></div>
         </div>
         
         <div class="row">
            <div class="col">
               <label for="firstname" class="form-label">Ad</label>
               <input type="text" class="form-control" name="firstname" value="{{firstname}}" >
            </div>
            <div class="col">
               <label for="lastname" class="form-label">Soyad</label>
               <input type="text" class="form-control" name="lastname"  value="{{lastname}}">
            
            </div>
         </div>
         <div class="row">
            <div class="col">
               <div class="mb-3">
                  <label for="email" class="form-label">E-mail</label>
                  <input type="email" class="form-control" name="email" value="{{email}}" >
               </div>
            </div>
            <div class="col"></div>
         </div>
         
         <div class="row">
            <div class="col">
               <label for="password" class="form-label">Şifre</label>
               <input type="password" class="form-control" name="password" >
            </div>
            <div class="col">
               <label for="repassword" class="form-label">Şifre Tekrar</label>
               <input type="password" class="form-control" name="repassword" >
            
            </div>
         
         <div class="mb-3"></div>
         <input type="submit" value="Üye ol" class="btn btn-warning mb-4 mt-2">

      </form>
   </div>
</div>


{% endblock %}