{% extends "base.html" %}
{% load static %}

{% block title %} Doğrulama {% endblock %}


{% block content %} 
<div class="container">
   <br>
   <div class="row">
      <div class="col-md-8 offset-md-2 border-white" style="margin-top: 5%;margin-bottom: 5%;">
         <div class="row border-white" style="background-color: #ffcd38;">
            <div class="col-md-8 offset-md-2 mt-2 mb-4">
               <p class="h2 text-center">Hesabını doğrula</p>
            </div>

         </div>
         <div class="row bg-light border-white">
            <div class="col-md-8 offset-md-2 text-center">
               <div class="row mt-4">
                  
                  <p style="font-size: 20px;">Hesabını doğrulaman için sana bir mail gönderdik. <br>
                     Doğrulamadan sonra giriş yapabilirsin. <br> <br>
                     <i class="bi bi-emoji-smile"></i>Spam kutunu kontrol etmeyi unutma.<i class="bi bi-emoji-smile"></i>
                  </p>
                  
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<br><br><br><br><br>
{% endblock %}


